@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-color: #efefef;
  --primary-color: #1b8dff;
  --secondary-color: #ffffff;
  --primary-text: #000;
  --secondary-text: #6c6c6c;
  --alternative-text: #fff;
  --warning-color: #d93f21;
  --success-color: #4caf50;
  --secondary-color-hover: #cfcfcf68;
}
[data-theme="dark"] {
  --body-color: rgb(17, 17, 17);
  --primary-color: #1b8dff;
  --secondary-color: #ffffff;
  --primary-text: #ffffff;
  --secondary-text: #6c6c6c;
  --alternative-text: #fff;
  --warning-color: #d93f21;
  --success-color: #4caf50;
  --secondary-color-hover: #cfcfcf68;
  --epr-emoji-size: 10px !important;
}

body {
  background-color: var(--body-color);
  font-family: var(--font-poppins) !important;
}
code {
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 0.2rem;
  line-height: 1.5;
  font-size: smaller;
  display: block;
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
}

ul {
  list-style-type: disc;
  margin-left: 15px;
}
ol {
  list-style-type: decimal;
  margin-left: 15px;
}
blockquote {
  display: flex;
  position: relative;
}
blockquote:before {
  content: open-quote;
  padding-right: 2px;
}
blockquote:after {
  content: close-quote;
  padding-left: 2px;
}
.tiptap hr {
  border-color: var(--secondary-text);
}

.tiptap {
  font-size: 0.9rem;
}
.EmojiPickerReact {
  /* oVER Ride variable` */
  --epr-emoji-size: 20px !important;
  --epr-category-icon-active-color: none !important;
  --epr-bg-color: #f5faff !important;
  --epr-category-label-bg-color: #e1efff !important;
  --epr-text-color: black !important;
  --epr-hover-bg-color: #b8dbff !important;
}

.tiptap img {
  display: inline;
}
.tiptap a {
  color: var(--primary-color);
  /* cursor: pointer; */
}
.tiptap a:hover {
  color: blue;
}
/* .epr-btn {
  width: 30px !important;
  height: 30px !important;
  max-width: 30px !important;
  max-height: 30px !important;
} */
/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
}

.react-pdf__Page {
  /* width: 100% !important; */

  min-width: none !important;
  max-width: none !important;
  min-height: none !important;
  max-height: none !important;
  /* --scale-factor: 0.47 !important; */
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
}
.react-pdf__Page__canvas {
  margin-bottom: 0px !important;
  border: 1px solid var(--secondary-text);
  border-radius: 5px;
  width: 100% !important;
  height: 100% !important;
}
.nonfull .react-pdf__Page {
 
  max-height: 300px !important;

}
.nonfull .react-pdf__Page__canvas {

  max-height: 300px !important;
  
}
.react-pdf__Page__textContent {
display: none;
}
.react-pdf__Page__annotations {
  display: none;
}