<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HTML + CSS</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
  </style>
</head>

<body>
  <div style="background-color:#efefef;display:flex;flex-direction:column;gap:10px;font-family:'poppins';">
    <div style="background-color:#1B8DFF;padding: 10px;">
      <div style="color:white;font-size: 1.7rem;">
        Socioknct &lt;/&gt;
      </div>
    </div>
    <div style="font-size: 1rem;padding:10px;">
      <div style="padding-bottom: 15px;padding-top:15px">
        Hello {Name},
      </div>
      <div style="padding-bottom:10px;text-align: justify;">
        We’ve received a request to reset your password on <span style="color:#1B8DFF;">Socioknct</span>.
      </div>
      <div style="text-align: justify;">
        if you didn’t make the request, just ignore this message. Otherwise you can reset your password.
      </div>
    </div>
    <div style="padding:10px;margin:0 auto">
      <div style="background-color: #1B8DFF;text-align: center;padding:5px;border-radius:10px;">
        <a href="/" style="font-size: 1.5rem;color:white;text-decoration: none;">Reset Password</a>
      </div>
    </div>
    <div style="font-size: 1rem;padding:10px;">
      <div>Regards,</div>
      <div>Team Socioknct</div>
    </div>
  </div>
</body>

</html>